body{
    margin: 0px;
    background-color: 
    #191f2a;
    color: aliceblue;
}

#nav-menu{
  position: fixed;
width: 100%;
height: 60px;
/* border: 1px solid grey; */
display: flex;
justify-content: space-between;
align-items: center;
font-size: large;
background-color: rgb(32, 32, 74);

}
a{
    text-decoration: none;
    font-weight: 700;
    color: aliceblue;
}
#nav{
    width: 40%;
    display: flex;
    justify-content: space-around;

}
#port{
    margin-left: 20px;
}
#nav{
    margin-right: 20px;
    
}
#port>a{
    font-size: x-large;
}
#main-cont{

    width: 100%;
    border: 1px solid white;
    /* height: 1200px; */
   
}
#homep{
width: 100%;
height: 500px;
/* border: 1px solid yellow; */
margin-top: 100px;
display: flex;

}

#homep>#hlf{

    width: 55%;
    height: 100%;
    /* border: 1px solid grey; */

}
#hlf>#hl{
    width: 80%;
    margin-left: 10%;
margin-top: 10%;
}

#hlf h1{
    font-size: 65px;

}
#hlf h2{
    font-size: 40px;
    font-family: serif;
}


#homep>#hr{

    width: 45%;
    height: 100%;
    /* border: 1px solid grey; */

}

/* #para{
    width: 90%;
    font-family: serif;
} */
.container{
    margin-top: -5%;
}
.container p{
font-size: 40px;

}
#bsi>p{
    font-size: 38px;
}
#photo{
    width: 40%;
    height: 300px;
    /* border: 1px solid grey ; */
    margin-top: 12%;
    margin-left: 10%;
    border-radius: 5px;
}


#ABOUT{

    width: 100%;
    height: 550px;
    /* border: 1px solid green; */
    background-color: #1a202c;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    display: flex;

}
#Al{
    width: 45%;
    /* border: 1px solid yellowgreen; */
}
#Ar{
    width: 55%;
    /* border: 1px solid grey; */
}
#Abi{
    width: 80%;
    margin: auto;
    /* border: 1px solid grey; */
    margin-top: 15%;
    margin-left: 20%;
    
}
#Abi>img{
    width: 90%;
    border-radius: 7%;
}
#Ard{
    width: 65%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: x-large;
}
#Art{
    font-size:x-large ;
}
#photo>img{
    width: 100%;
    border-radius: 5%;
}



#Skills{

    width: 100%;

}
#sk{
    width: 10%;
    margin: auto;
    display: flex;
  text-align: center;
}

#SK{
width: 55%;
margin: auto;
/* border: 1px solid 
grey ; */
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px
;

}
#SK>div{

border: 1px solid grey;
border-radius: 10%;
display: flex;
justify-content: center;
}

#SK>div>img{
    width: 100%;
}

#sk{
    width: 50%;
    display: flex;
    justify-content: center;
}
@media all and (min-width: 200px) and (max-width: 630px) {
    #nav{
        width: 100%;
    }
    #skills{
        display: none;
    }
    #port{
        display: none;
    }
    #homep{
        
        height: auto;
       
        
        }
    #homep{
        display: block;
    }
    #homep>#hlf{

        width: 100%;
        height: 100%;
        /* border: 1px solid grey; */
    
    }
    #hlf p{
font-size: 30px;
    }
    #hlf h1{
        font-size: 40px;
    }

    #homep>#hr{

        width: 100%;
        
        /* border: 1px solid grey; */
    
    }

    #photo{
        width: 45%;
        height: 300px;
        /* border: 1px solid grey ; */
        margin: auto;
        /* margin-top: 25px ; */
        
      
    }

    #Al{
        display: none;
    }

    #Ar{
        width: 100%;
    }
#Art{
    width: 46%;
    margin: auto;
    /* border: 1px solid red; */
    font-size: large;
    text-align: center;
}

#Ard{
    width: 88%;
   margin: auto;
    font-size: large;
}

#SK{
    width: 60%;
    margin: auto;
    /* border: 1px solid 
    grey ; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px
    ;
    
    }

#sk{
    width: 50%;
    display: flex;
    justify-content: center;
}
#SK>div>img{
    width: 100%;
}

}




@media all and (min-width: 200px) and (max-width: 400px){

#ABOUT{
    margin-top: -50px;
    height: 500px;
}

#photo{
    width: 40%;
    height: 200px;
    /* border: 1px solid grey ; */
    margin: auto;
    /* margin-top: 25px ; */
    
  
}



}

